@model SoftBucksBase.Models.Payment

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    


    <div>
        @using (Html.BeginForm("CreatePayment", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Платеж</legend>


                <div class="editor-field">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.BidId)


                </div>


                <div class="editor-field">
                    @Html.EditorFor(model => model.Value)
                    @Html.ValidationMessageFor(model => model.Value)
                </div>
            </fieldset>
       <hr align="left" width="250" size="4" color="#ff9900" />
            <p>
                <input type="submit" value="Сохранить" />

            </p>
 }

</div>
